# Default ignored files
/shelf/
/workspace.xml

# Archivos de configuración local (SDK path)
local.properties

# Archivos del IDE (Android Studio)
.idea/
.DS_Store

# Archivos de build
/build
/.gradle

# Archivos de servicios de Google (Contiene claves de API)
google-services.json

# Archivos de logs
*.log

# Archivos de empaquetado y distribución
*.apk
*.aab
*.ap_
*.aar

# Archivos de Proguard
/app/proguard/